Repository scikit-hep/boost-histogram: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-pybind, docker-clang-format

disallow-pybind:
  name: Disallow PyBind (dual caps)
  language: pygrep
  entry: PyBind

docker-clang-format:
  name: Docker Clang Format
  language: docker_image
  entry: unibeautify/clang-format:latest
  args:
  - -style=file
  - -i

chore(types): update to NumPy 1.21 (#625)
  .pre-commit-config.yaml
  src/boost_histogram/_core/axis/__init__.pyi
  src/boost_histogram/_core/hist.pyi
  src/boost_histogram/_internal/axestuple.py
  src/boost_histogram/_internal/axis.py
  src/boost_histogram/_internal/hist.py
  src/boost_histogram/_internal/view.py
  src/boost_histogram/numpy.py
Due: disallow-pybind

fix: support getattr in custom AxesTuple subclasses
  docs/CHANGELOG.md
  src/boost_histogram/_internal/axestuple.py
  tests/test_minihist_title.py
Due: disallow-pybind

fix: error if setter tuple is the wrong length
  src/boost_histogram/_internal/axestuple.py
  src/boost_histogram/_internal/utils.py
  tests/test_minihist_title.py
Due: disallow-pybind

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: disallow-pybind

fix: support getattr in custom AxesTuple subclasses (#627)
  docs/CHANGELOG.md
  src/boost_histogram/_internal/axestuple.py
  src/boost_histogram/_internal/utils.py
  tests/test_minihist_title.py
Due: disallow-pybind

ci: strict check twine
  .github/workflows/wheels.yml
Due: disallow-pybind

ci: strict check twine (#628)
  .github/workflows/wheels.yml
Due: disallow-pybind

tests: could fail on 32 bit archs (edge behavior)
  tests/test_axis.py
Due: disallow-pybind

docs: mention Python 3.10 in the readme
  README.md
Due: disallow-pybind

fix: return False if axis do not support protocol instead of raising exception.
  src/boost_histogram/_internal/axis.py
  tests/test_axis.py
Due: disallow-pybind

docs: include changelog entry
  docs/CHANGELOG.md
Due: disallow-pybind

docs: mention Python 3.10 in the readme (#630)
  README.md
Due: disallow-pybind

tests: could fail on 32 bit archs (edge behavior) (#629)
  tests/test_axis.py
Due: disallow-pybind

fix: return False if axis do not support protocol instead of raising (#631)
  docs/CHANGELOG.md
  src/boost_histogram/_internal/axis.py
  tests/test_axis.py
Due: disallow-pybind

ci: cross-compile for aarch64
  .github/workflows/tests.yml
  setup.py
Due: disallow-pybind

Update tests.yml
  .github/workflows/tests.yml
Due: disallow-pybind

chore: setuptools_scm update
  pyproject.toml
Due: disallow-pybind

chore: setuptools_scm update (#637)
  pyproject.toml
Due: disallow-pybind

chore: update boost-histogram
  include/bh_python/accumulators/ostream.hpp
  include/bh_python/histogram.hpp
  include/bh_python/register_histogram.hpp
  include/bh_python/storage.hpp
Due: disallow-pybind, docker-clang-format

WIP: use develop branch of boost-histogram
  include/bh_python/register_histogram.hpp
Due: disallow-pybind, docker-clang-format

chore: update Boost.Histogram to 1.77+ (#594)
  include/bh_python/accumulators/ostream.hpp
  include/bh_python/histogram.hpp
  include/bh_python/storage.hpp
Due: disallow-pybind, docker-clang-format

feat: add boilerplate sub implementation
  src/boost_histogram/_internal/hist.py
Due: disallow-pybind

feat: subtraction for Histograms
  include/bh_python/register_histogram.hpp
Due: disallow-pybind, docker-clang-format

feat: use signed integers for integer storages
  include/bh_python/storage.hpp
Due: disallow-pybind, docker-clang-format

style: use black's built-in Jupyter support
  .pre-commit-config.yaml
Due: none

style: use black's built-in Jupyter support (#638)
  .pre-commit-config.yaml
Due: none

tests: add tests for subtraction
  tests/conftest.py
  tests/test_histogram.py
Due: disallow-pybind

feat: support subtraction between WeightedSum views
  src/boost_histogram/_internal/view.py
  tests/test_histogram.py
  tests/test_views.py
Due: disallow-pybind

docs: update CHANGELOG
  docs/CHANGELOG.md
Due: disallow-pybind

feat: add boilerplate sub implementation (#636)
  docs/CHANGELOG.md
  include/bh_python/register_histogram.hpp
  include/bh_python/storage.hpp
  src/boost_histogram/_internal/hist.py
  src/boost_histogram/_internal/view.py
  tests/conftest.py
  tests/test_histogram.py
  tests/test_views.py
Due: disallow-pybind, docker-clang-format

chore: use conda instead of docker for clang-format
  .pre-commit-config.yaml
  include/bh_python/make_pickle.hpp
Due: disallow-pybind, docker-clang-format

tests: add neg integer test
  docs/CHANGELOG.md
  tests/conftest.py
  tests/test_histogram.py
Due: disallow-pybind

tests: add neg integer test (#641)
  docs/CHANGELOG.md
  tests/conftest.py
  tests/test_histogram.py
Due: disallow-pybind

style: minor cleanup
  tests/test_histogram.py
Due: disallow-pybind

style: minor cleanup (#642)
  tests/test_histogram.py
Due: disallow-pybind

tests: add pickle for 1.1, noxfile
  .gitignore
  docs/CHANGELOG.md
  noxfile.py
  tests/pickles/bh_1.1.0.pkl
  tests/pickles/make_pickle.py
  tests/test_pickles.py
Due: disallow-pybind

fix: faster picking when no slices are made
  docs/CHANGELOG.md
  src/boost_histogram/_internal/hist.py
Due: disallow-pybind

Path conditions:
  disallow-pybind: any file but: .pre-commit.*.yaml
  docker-clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
