Repository scikit-hep/boost-histogram: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, docker-clang-format

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

docker-clang-format:
  name: Docker Clang Format
  language: docker_image
  entry: unibeautify/clang-format:latest
  args:
  - -style=file
  - -i

tests: add benchmarking test for cat picking
  tests/test_benchmark_category_axis.py
Due: disallow-caps

fix: faster picking when no slices are made
  docs/CHANGELOG.md
  src/boost_histogram/_internal/hist.py
Due: disallow-caps

fix: faster picking when slices are made
  docs/CHANGELOG.md
  pyproject.toml
  src/boost_histogram/_core/algorithm.pyi
  src/boost_histogram/_internal/hist.py
  src/register_algorithm.cpp
Due: disallow-caps, docker-clang-format

fix: faster picking when slices are made (#648)
  docs/CHANGELOG.md
  pyproject.toml
  src/boost_histogram/_core/algorithm.pyi
  src/boost_histogram/_internal/hist.py
  src/register_algorithm.cpp
Due: disallow-caps, docker-clang-format

docs: mention stacked setting for histograms
  docs/usage/accumulators.rst
  docs/usage/histogram.rst
Due: disallow-caps

docs: mention stacked setting for histograms (#649)
  docs/usage/accumulators.rst
  docs/usage/histogram.rst
Due: disallow-caps

fix: wheel building exposed ssize_t issue
  .github/workflows/wheels.yml
  include/bh_python/histogram.hpp
  include/bh_python/pybind11.hpp
  pyproject.toml
Due: disallow-caps, docker-clang-format

ci: auto-cancel running wheel jobs
  .github/workflows/wheels.yml
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

ci: use pre-commit
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: disallow-caps

fix: growth with single value
  tests/test_histogram.py
Due: disallow-caps

docs: add to changelog
  docs/CHANGELOG.md
Due: disallow-caps

fix: growth with single value (#654)
  docs/CHANGELOG.md
  tests/test_histogram.py
Due: disallow-caps

Use WIP clang 10
  .pre-commit-config.yaml
Due: none

chore: use pip instead of docker for clang-format (#610)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  include/bh_python/make_pickle.hpp
Due: disallow-caps, docker-clang-format

chore: add musllinux support
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  pyproject.toml
Due: disallow-caps

chore: use renamed pre-commit hook
  .pre-commit-config.yaml
Due: none

docs: changelog update
  docs/CHANGELOG.md
Due: disallow-caps

docs: update changelog
  docs/CHANGELOG.md
Due: disallow-caps

chore: add musllinux support (#656)
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  docs/CHANGELOG.md
  pyproject.toml
Due: disallow-caps

docs: prepare for 1.2.1
  .github/workflows/wheels.yml
  README.md
  docs/CHANGELOG.md
  docs/usage/installation.rst
Due: disallow-caps

WIP: try cibuildwheel overrides
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  pyproject.toml
Due: disallow-caps

chore: add more pre-commit
  .pre-commit-config.yaml
  docs/conf.py
  docs/index.rst
  docs/usage/accumulators.rst
  docs/usage/transforms.rst
  pyproject.toml
  scripts/check_style.sh
  scripts/check_style_docker.sh
  scripts/clang-format-pre-commit
  src/boost_histogram/_internal/hist.py
  src/boost_histogram/_internal/traits.pyi
  tests/test_histogram.py
Due: disallow-caps

style: use mypy_clean_slate to fill in mypy checks
  .pre-commit-config.yaml
  src/boost_histogram/_internal/axestuple.py
  src/boost_histogram/_internal/axis.py
  src/boost_histogram/_internal/axis_transform.py
  src/boost_histogram/_internal/enum.py
  src/boost_histogram/_internal/hist.py
  src/boost_histogram/_internal/utils.py
  src/boost_histogram/_internal/view.py
  src/boost_histogram/numpy.py
Due: disallow-caps

Update pyproject.toml
  pyproject.toml
Due: disallow-caps

perf: nogil ops
  include/bh_python/register_histogram.hpp
  noxfile.py
Due: disallow-caps, docker-clang-format

chore: use cibuildwheel 2.2.0b1
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: disallow-caps

chore: use cibuildwheel overrides (#661)
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  pyproject.toml
Due: disallow-caps

ci: test using the new NumPy wheels
  pyproject.toml
Due: disallow-caps

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  docker-clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
